* {
    margin: 0px;
    padding: 0px;
}

main {
    /* height: 100vh; */
    width: 100%;
}

/* this is for header section container */
.header-container {
    display: flex;
    background: rgba(207, 68, 99, 0.1);
    padding: 50px 240px 0px 240px;
    align-items: center;
    justify-content: space-between;


}

/* style for header title */
.header-title {
    font-size: 80px;
    font-weight: 800;
    color: #272727;
    margin-bottom: 30px;
}

/* for header description */
.header-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

/* header button */
.btn {
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    /* margin-bottom: 147px; */
}

/* section handle */
.section-1 {
    margin-left: 240px;
    margin-right: 240px;
    /* margin-bottom: 128px; */
    align-items: center;
    /* background-color: chartreuse; */
    padding-bottom: 128px;
}

/* section-title-description */
.section-title-description {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* section title */
.section-title {
    padding-top: 178px;
    padding-bottom: 24px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;

}


.section-ddes {
    display: flex;
    width: 594px;
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 48px;
}

/* section picture container style */
.section-picture-container {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
}

/* added picture and tuning with css */
.picture1 {
    border-image: auto;
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding: 110px 78px 0px 76px;

}

.picture2 {
    border-image: auto;
    background: #0597A026;
    border-radius: 300px 300px 0px 0px;
    padding: 117px 47px 51px 47px;

}

.picture3 {
    border-image: auto;
    background: #477D1126;
    border-radius: 300px 300px 0px 0px;
    padding: 67px 75px 0px 75px;

}

section h3 {
    text-align: center;
    padding-top: 32px;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}

/* section icon and icon details */
.section-icon-container {
    display: flex;
    margin: 128px 0px 128px 0px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    align-items: center;
    padding-top: 86px;
    padding-bottom: 87px;
    justify-content: center;
    gap: 100px;
    text-align: center;
}

section h4 {
    padding-top: 24px;
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
}

/* hot sell style */
.hot-sell-container {
    display: flex;
    border-radius: 8px;
    background: rgba(237, 6, 56, 0.325);
    margin-left: -240px;
    margin-right: -240px;
    margin-bottom: 128px;
    align-items: center;
    justify-content: center;
    gap: 186px;
    padding: 100px 0px;
}

/* for hot sell button */
.btn-primary {
    /* display: inline-flex; */
    padding: 20px 43px;
    /* align-items: center; */
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFFFFF;
    border: none;
    cursor: pointer;

}

/* hot sell data sections flex */
.hot-sell-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* hot sell off color */
.off {
    color: #E55473;
}

.all-instagram {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all-picture {
    display: flex;
    gap: 24px;
}

/* this is used for instagram title style */
.instagram-title-description {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-bottom: 24PX;
}

.Instagram-description {
    padding-bottom: 48px;
    display: flex;
    width: 594px;
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

/* this container contains the hot deal style */
.latest-deals-container {
    margin-top: 128px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    background-image: url('./Flowers/Rectangle9.png');
    background-repeat: no-repeat;
    background-position: center;
}

.section-title-deals {
    padding-top: 122px;
    padding-bottom: 16px;
}

.section-description-of-deals {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 16px;
}

/* input box and button style */
.input-box-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-top: 48px;
    padding-bottom: 122px;
}

.input-box {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    padding: 0px 16px;
    font-size: 16px;
}

.btn-deals {
    width: 150px;
    height: 64px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 16px;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
}


/* bonus-section */
.bonus-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px;
    border-radius: 10px;
    background: url('./Flowers/banner2.png');
    background-size: cover;
    margin: 0px 240px;
    width: 60%;
    height: 120%;

    background-repeat: no-repeat;
    background-position: center;
}

.My-details {
    color: #272727;
    text-align: center;
    font-size: 60px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
    /* padding-bottom: 24PX; */
    text-decoration-line: underline;
    padding-bottom: 70px;
    padding-left: 270px;
}

.section-descriptio {
    display: flex;
    color: #e9700d;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-left: 340px;
    padding-bottom: 24px;
    /* justify-content: center; */
}

.about-info-container {
    display: flex;
    justify-content: space-between;
    padding-left: 340px;
    gap: 100px;
}

.about-info {
    text-align: center;

}

.F {
    color: #a30ad6;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
    padding-top: 80px;
}

/* adding footer style */
footer span {
    color: #E55473;

}

footer h2 {
    padding-top: 128px;
    color: #FFFFFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

footer {
    /* padding-top: 128px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111010;
    margin-top: 128px;
}

.footer-des {
    display: flex;
    width: 625px;
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-top: 24px;
}

footer h6 {

    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 128px;
    padding-top: 32px;
}